<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <!-- Settings for a local HSQL (testing) database. -->
      <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="connection.url">jdbc:mysql://localhost:3306/webstore</property>
      <property name="connection.username">webster</property>
      <property name="connection.password">12345</property>

      <!-- Use the C3P0 connection pool. -->
      <property name="c3p0.min_size">3</property>
      <property name="c3p0.max_size">5</property>
      <property name="c3p0.timeout">1800</property>

      <!-- Disable second-level cache. -->
      <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
      <property name="cache.use_query_cache">false</property>
      <property name="cache.use_minimal_puts">false</property>
      <property name="max_fetch_depth">3</property>

      <!-- Print SQL to stdout. -->
      <property name="show_sql">true</property>
      <property name="format_sql">true</property>

      <!-- Drop and then re-create schema on SessionFactory build, for testing. -->
      <!--<property name="hbm2ddl.auto">create</property>-->

      <!-- Bind the getCurrentSession() method to the thread. -->
      <property name="current_session_context_class">thread</property>

      <!-- Hibernate XML mapping files -->
      <!--<mapping resource="org/MyClass.hbm.xml"/>-->

      <!-- Hibernate Annotations (and package-info.java)-->
      <!--<mapping package="com.store.gen"/>-->
      <mapping class="com.store.gen.UsersEntity"/>
      <mapping class="com.store.gen.RolesEntity"/>
      <mapping class="com.store.gen.UserinrolesEntity"/>
      <mapping class="com.store.gen.ProductsEntity"/>
      <mapping class="com.store.gen.PurchaseEntity"/>
  </session-factory>
</hibernate-configuration>